.CartModal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000b2;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.CartModal-content {
  margin-top: 50px;
}

.CartModal > div {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 960px;
  min-height: 20vh;
  box-sizing: border-box;
}

.CartModal > div > div {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
  border: 0px solid transparent;
}

.CartModal-empty {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.CartModal-total {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}
