.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  animation: opacity 1s infinite alternate;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
