.Comment-user-date {
  display: flex;
  font-size: 12px;
  gap: 10px;
}

.Comment-user {
  font-weight: bold;
}

.Comment-user_currentUser {
  color: #666666;
}

.Comment-date {
  color: #666666;
  font-size: 12px;
}

.Comment-text {
  margin: 10px 0;
  padding-right: 20px;
  font-size: 14px;
  word-break: break-all;
}

.Comment-answer-btn {
  cursor: pointer;
  color: #0087e9;
  padding: 0;
  margin-bottom: 26px;
  background-color: transparent;
  border: none;
  font-size: 12px;
}
